<nav class="navbar navbar-expand-lg navbar-light fixed-top mask-custom shadow-0">
    <div class="container">
      <a class="navbar-brand" href="#!">
        <img src="img/newLogo.png" height="45px;" alt="logo" />
      </a>
      <button class="navbar-toggler" type="button" data-mdb-toggle="collapse"
              data-mdb-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
              aria-label="Toggle navigation">
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/love">Love</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/health">Health</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/wealth">Wealth</a>
          </li>
        </ul>
        <ul class="navbar-nav d-flex flex-row">
          <li class="nav-item me-3 me-lg-0">
            <a class="nav-link" href="https://www.instagram.com/p/Cd_ORVkpzVq/?igshid=YmMyMTA2M2Y=" target="_blank">
              <i class="fab fa-instagram" style="font-size:22px;"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>