<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="google-site-verification" content="08ysSt4y4xP43FkERUcVNM2iJjh_NVmMiQd4Df0Rnrw" />
    <meta name="keywords" content="Life coach, Love Coach, Finance Coach">
    <meta description="Receive guidance and coaching from Sublime Knowledge, one on one teaching and or a book to cover topics." >
    <title>Sublime Knowledge - Health Page</title>
    <!-- MDB icon -->
    <link rel="icon" href="/img/newLogo.png" type="image/x-icon">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Whisper&display=swap" rel="stylesheet">
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <!-- Material Design Bootstrap -->
    <link rel="stylesheet" href="/css/mdb.min.css">
    <!-- Your custom styles (optional) -->
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body class="blog-layout-full">
<%- include('layouts/navBar') -%>
<div class="health-intro">
    <div class="container text-center" style="padding-top: 40px;">
        <h1>Coaching On Health</h1>
        <p>Read our article on our health coaching, and our approach to help.</p>
    </div>
</div>

<article class="container" style="margin-top: 50px; margin-bottom: 70px;">

<p class="lead" style="color: #848488;">
    Health is impacted by what is going on in our minds.
    <br><br>
    The path to enjoying life is great health. Plenty of exercise, eating a healthy diet, and clearing out our minds of unhealthy thoughts. Forgiveness and releasing are very beneficial to the improvement of our health. A stress-free life with enough sleep allows our body to heal naturally. Understanding that a disease in the body is the result of a body that is not at ease. This dis-ease starts with a mind that is not at ease. We must preserve our health by catching thoughts that place our physical body out of alignment.
    <br><br>
    If you need medical advice or help, please speak with a doctor. If you would like to try an alternative treatment reserve a session focused on building a healthy mindset.
</p>

    <div class="mt-5 mb-5 text-center">

        <a href="/payment" class="btn btn-black rounded-pill">Order Intuitive Ascending Mind Program</a>
    </div>
</article>

</body>
</html>
