<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>SublimeKnowledge - Love Coaching</title>
    <!-- MDB icon -->
    <link rel="icon" href="/img/newLogo" type="image/x-icon" />
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />
    <!-- Google Fonts Roboto -->
    <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Whisper&display=swap" rel="stylesheet">
    <!-- MDB ESSENTIAL -->
    <link rel="stylesheet" href="/css/mdb.min.css" />
    <!-- MDB PLUGINS -->
    <link rel="stylesheet" href="/plugins/css/all.min.css" />
    <!-- Custom styles -->
    <link rel="stylesheet" href="/css/styles.css">
    <style></style>
</head>

<body>
<header>
    <!-- Navbar -->
    <%- include('layouts/navBar') -%>
    <!-- Navbar -->

    <!--Section: Design Block-->
    <section class="love-intro">
        <div class="container text-center">
            <h1 class="display-2 text-white" style="font-family: 'Whisper', cursive!important;">Coaching On Love</h1>
        </div>
    </section>
    <!--Section: Design Block-->
</header>

<main class="blog-layout-full text-dark" style="padding-top: 70px; padding-bottom: 70px;">

    <div class="container-fluid p-4">
        <p class="lead">
            <span data-mdb-toggle="animation"
                  data-mdb-animation-start="onLoad"
                  data-mdb-animation="fade-in-up"
                  data-mdb-animation-delay="100">
                Spiritual Love is the way the universe loves and cares for you. It is your innate desire and will to give and receive love continuously. This is the compassion that is naturally built within you. Your inner desires for peace and happiness. Examples of this love is evident when we see a baby, a young child or perhaps our pets, we find ourselves drawn to the purity and innocence that is before us. This love is our intrinsic nature. From the beating of our heart to the renewing and healing of our body, spiritual love keeps us alive. It is omnipresent and always surrounds us. It is so important to always show gratitude for it. Deep appreciation and gratitude expand spiritual love.
            </span>
            <br><br>
            <span data-mdb-toggle="animation"
                  data-mdb-animation-start="onScroll"
                  data-mdb-animation="fade-in-up"
                  data-mdb-animation-delay="200">
                Mental Love is our nonphysical self. We must train to love and forgive in an unconditional manner. Many times, we are hard on ourselves mentally and as a result we are hard on others. These behaviors are developed in childhood and never adjusted in adulthood, simply because we are unaware of our mind and what programs we are running. Mental love starts to occur when we begin to clean up all the toxic thoughts that we have that clouds our minds. We become aware of what isn’t serving us and we commit to making a change to loving our mind so much that we would never allow a toxic thought to take root.
            </span>
            <br><br>
            <span data-mdb-toggle="animation"
                  data-mdb-animation-start="onScroll"
                  data-mdb-animation="fade-in-up"
                  data-mdb-animation-delay="300">
                Physical Love is the love we have for our physical body when we look in the mirror. Some days we love the image looking back and some days we are so critical and unkind to that image. We only want to change that which was created perfect. The body temple that we observe should be nourished and cared for. We must fall in love with our physical self in a healthy non-egoistic way.
            </span>
            <br><br>
            <span data-mdb-toggle="animation"
                  data-mdb-animation-start="onScroll"
                  data-mdb-animation="fade-in-up"
                  data-mdb-animation-delay="500">
                    When we welcome in and expand our spiritual love, and we reprogram our mental love through forgiveness, and repetition, physical love will come easily to us. Finding and building meaningful relationships will also occur easily. Now we are full of love and our love can overflow to everyone around us.
                    Learn more by reserving a coaching session for love.
            </span>
        </p>

        <div class="mt-5 text-center">
            <a href="/payment" class="btn btn-info rounded-pill">Order intuitive ascending mind program</a>
        </div>
    </div>

</main>

<footer class="text-center text-white bg-info">
    <!-- Grid container -->
    <div class="container pt-4">
        <!-- Section: Social media -->
        <section class="mb-4">
            <!-- Facebook -->
            <a
                    class="btn btn-link btn-floating btn-lg text-dark m-1"
                    href="#!"
                    role="button"
                    data-mdb-ripple-color="dark"
            ><i class="fab fa-facebook-f"></i
            ></a>

            <!-- Twitter -->
            <a
                    class="btn btn-link btn-floating btn-lg text-dark m-1"
                    href="#!"
                    role="button"
                    data-mdb-ripple-color="dark"
            ><i class="fab fa-twitter"></i
            ></a>

            <!-- Instagram -->
            <a
                    class="btn btn-link btn-floating btn-lg text-dark m-1"
                    href="#!"
                    role="button"
                    data-mdb-ripple-color="dark"
            ><i class="fab fa-instagram"></i
            ></a>

            <!-- Linkedin -->
            <a
                    class="btn btn-link btn-floating btn-lg text-dark m-1"
                    href="#!"
                    role="button"
                    data-mdb-ripple-color="dark"
            ><i class="fab fa-linkedin"></i
            ></a>
        </section>
        <!-- Section: Social media -->
    </div>
    <!-- Grid container -->
    <hr>

    <!-- Copyright -->
    <div class="text-center text-dark p-3">
        © 2022 Copyright:
        <a class="text-dark" href="#!">SublimeKnowledge</a>
    </div>
    <!-- Copyright -->
</footer>

</body>

<!-- MDB ESSENTIAL -->
<script type="text/javascript" src="public/js/mdb.min.js"></script>
<!-- MDB PLUGINS -->
<script type="text/javascript" src="public/plugins/js/all.min.js"></script>
<!-- Custom scripts -->
<script type="text/javascript"></script>
</html>
