<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="google-site-verification" content="08ysSt4y4xP43FkERUcVNM2iJjh_NVmMiQd4Df0Rnrw" />
    <meta name="keywords" content="Life coach, Love Coach, Finance Coach">
    <meta description="Receive guidance and coaching from Sublime Knowledge, one on one teaching and or a book to cover topics." >
    <title>Sublime Knowledge - Payment</title>
    <!-- MDB icon -->
    <link rel="icon" href="/img/newLogo.png" type="image/x-icon">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Whisper&display=swap" rel="stylesheet">
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <!-- Material Design Bootstrap -->
    <link rel="stylesheet" href="/css/mdb.min.css">
    <!-- Your custom styles (optional) -->
    <link rel="stylesheet" href="/css/styles.css">
</head>
<style>
    .bg-layout-full {
        font-family: 'Montserrat', sans-serif;
        background: rgb(255,255,255);
        background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(255,206,247,1) 10%, rgb(164, 209, 235) 100%);
        color: white;
        padding-bottom: 10px;
    }
</style>
<body class="bg-layout-full">

<header>
    <%- include('layouts/navbar') -%>
</header>

<div class="container text-center text-dark" style="margin-top:150px; margin-bottom: 110px!important;">

    <h1 class="text-dark display-4 mb-5">Ordering Process <img src="/img/newLogo.png" style="height: 50px;" class="img-fluid" alt="logo" />
        <hr />
    </h1>


    <h4>
        The Intuitive Ascending Mind Program was developed as a resource to help open your awareness to the changes you are seeking in your life. This program consists of valuable information and practices to help in achieving your goals. If you are stuck at any point of the program, you may submit a question for free. If you wish to book a one-on-one session to complete the program with support reserve a session.
    </h4>

    <div>
        <a href="mailto:info@sublimeknowledge.com" target="_blank" class="btn btn-black rounded-pill">
            submit a question
        </a>
    </div>

    <div class="row mt-5">
        <div class="col-md m-2">
            <div>
                <div class="ecsp ecsp-SingleProduct-v2 ecsp-Product ec-Product-467700007" itemtype="http://schema.org/Product" data-single-product-id="467700007"><div class="ecsp-title" itemprop="name" style="display:none;" content="SAMPLE. Black Dress"></div><div customprop="addtobag"></div></div><script data-cfasync="false" type="text/javascript" src="https://app.ecwid.com/script.js?75509953&data_platform=singleproduct_v2" charset="utf-8"></script><script type="text/javascript">xProduct()</script>
                <h4>Purchase your personal one-on-one session (approximately 2-3 hours) $399.99</h4>
            </div>
        </div>
        <div class="col-md m-2">
            <div>
                <div class="ecsp ecsp-SingleProduct-v2 ecsp-Product ec-Product-467687250" itemtype="http://schema.org/Product" data-single-product-id="467687250"><div class="ecsp-title" itemprop="name" style="display:none;" content="SAMPLE. Black Tank"></div><div customprop="addtobag"></div></div><script data-cfasync="false" type="text/javascript" src="https://app.ecwid.com/script.js?75509953&data_platform=singleproduct_v2" charset="utf-8"></script><script type="text/javascript">xProduct()</script>

                <h4>Purchase the Intuitive Ascending Mind Program. $39.99</h4>
            </div>
        </div>
    </div>


</div>

<%- include('layouts/footer') -%>

</body>
</html>
