<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="google-site-verification" content="08ysSt4y4xP43FkERUcVNM2iJjh_NVmMiQd4Df0Rnrw" />
    <meta name="keywords" content="Life coach, Love Coach, Finance Coach">
    <meta description="Receive guidance and coaching from Sublime Knowledge, one on one teaching and or a book to cover topics." >
    <title>Sublime Knowledge - Wealth</title>
    <!-- MDB icon -->
    <link rel="icon" href="/img/newLogo.png" type="image/x-icon">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Whisper&display=swap" rel="stylesheet">
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <!-- Material Design Bootstrap -->
    <link rel="stylesheet" href="/css/mdb.min.css">
    <!-- Your custom styles (optional) -->
    <link rel="stylesheet" href="/css/styles.css">
</head>
<style>
    .bg-layout-full {
        font-family: 'Montserrat', sans-serif;
        background: rgb(255,255,255);
        background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(255,206,247,1) 10%, rgb(164, 209, 235) 100%);
        color: black;
        padding-bottom: 10px;
    }
</style>
<body class="bg-layout-full">
<%- include('layouts/navbar') -%>

<div class="wealth-intro">
    <div class="container text-center text-white" style="padding-top: 70px;">
        <h1><img src="/img/newLogo.png" style="height:60px;" alt="logo" />Coaching On Wealth</h1>
        <p>Read our article on our wealth coaching, and our approach to help.</p>
    </div>
</div>

<article class="container" style="margin-top: 50px; margin-bottom: 70px;">


    <p class="lead" style="color: #848488;">
        Wealth is a tangible necessity for our life.
        <br><br>
        Understanding your financial goals and creating a structure to achieve it is necessary for everyone. While money isn’t everything, it is a very important servant if you wish to live a lifestyle of comfort and luxury. Financial security is important to everyone and should be taken seriously. Mastering money allows us to have time freedom to enjoy our family and friends. Money is mastered when you become aware of your talents and natural abilities to generate money. We earn money by providing a service to others.
        <br><br>
        If you need to shift your mindset to earning more money, reserve a session.
    </p>
    <div class="mt-5 mb-5 text-center">

        <a href="/payment" class="btn btn-black rounded-pill">Order Intuitive Ascending Mind Program</a>
    </div>
</article>

<%- include('layouts/footer') -%>

</body>
</html>